<html>
<head>
	<meta charset="UTF-8">
	<title>Factura xml a csv / excel</title>
</head>
<body>
	<h3>Crear sesión de identificación</h3>
	<h4>{{nombre_archivo}}</h4>
	<form action="/createDirUser" method="POST" enctype="multipart/form-data">
	 <!-- <input type="text" name="nuevo_nombre" placeholder="Nuevo nombre"> &nbsp; .txt  &nbsp;&nbsp;&nbsp;	 -->
	 <!-- <input id="nombreArchivo" name="nombre_archivo" type="hidden" value="{{nombre_archivo}}"> -->
	 <input type="text" name="namedir" placeholder="Coloca un nombre o identificador">
	 <input type="submit" value="Iniciar" >
	</form>
	
</body>
</html>