<html>
<head>
	<title>Factura</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}" ></script>
</head>
<body>

	<hr>
	<h4>Convierte  tus facturas electronicas (CFDI XML) a Excel (CSV)</h4>
	<hr>
	<p>
		Convierta sus facturas electronicas (CFDI XML) a ( CSV ) En linea (Online Converter). Utilice esta herramienta para leer o importar CFDI , comprobantes fiscales digitales o facturas electrónicas para convertir los XML o cfdi a archivo compatible con excel CSV, XLS, XLSX ( XML TO CSV ). Ahora compatible con la nueva Version x.Esta herramienta esta diseñada para el procesamiento de sus facturas electrónicas. Con la nueva reforma fiscal, y para subir su contabilidad XML a hacienda, estamos diseñando este sistema que lo ayudará a cumplir con las nuevas disposiciones hacendarias. Cóntactenos para mayor información
	</p>
	<!-- <p> 3.3 del 2018 </p> revisar version de factura! -->
	<!-- <h4>Por favor resuelva el Captcha para continuar</h4>
	<p>Al apretar el boton de enviar ud. acepta nuestro aviso de privacidad y las condiciones de uso
	Sino aparece el Captcha, poner recargar a la página
	</p> -->

	<h4>Por favor inicie su sesion para continuar</h4>
	<p>Al crear su sesion y utilizar nuestra aplicacion usted acepta nuestro terminos de privacidad y las condiciones de uso.	
	</p>
	<p>Sino aparece la opcion crear sesion, favor de recargar nuestra pagina.</p>

	<hr>
	<h3> <a href="/crearSesion">Crear sesion</a> </h3>
    <hr>

</body>
</html>