<!DOCTYPE html>
<!-- <html lang="en"> -->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Factura xml a csv / excel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/dropzone.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
    <script src="{{ url_for('static', filename='javascripts/dropzone.min.js')}}"></script>
    <script src="{{ url_for('static', filename='javascripts/wavesurfer.min.js')}}"></script>
    <script src="{{ url_for('static', filename='javascripts/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='javascripts/app.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}" ></script>
</head>
<body>    
    <!--  -->
    <div class="container">                   
            <div class="row">                
                <div class="col-6">
                    <h3> Arrastre para subir sus Facturas xml </h3>                  
                </div>
                <div class="col-6">                    
                    <form action="/cerrarSesion" method="post" class="">            
                        <input id="sesion" name="sesion" type="hidden" value="{{sesion}}">
                        <input type="submit" value=" Cerrar sesion" >
                    </form>               
                </div>
            </div>
    </div>
    <!--  -->

    <form action="/upload2" method="post" class="dropzone">
        <!-- <input type="hidden" name="ubicacion" value="pagina-del-campo-hidden"> -->
        <input id="sesion" name="sesion" type="hidden" value="{{sesion}}">
    </form>

    </br></br>
    <hr>
    <h3>
        
        <form action="/refrescar" method="post" class="">            
            <input id="sesion" name="sesion" type="hidden" value="{{sesion}}">
            <input type="submit" value="Refrescar para ver archivos" >
        </form>
        <!-- ----------------------------------------------------- -->
    
    <!-- <h3> <a href="/crearSesion">Crear sesion</a> </h3> -->
    <h4></h4>
    <hr>
    </br></br>

      
    <!-- -------------------------- -->
    <div class="container">
        {% for  image in all_files_xml %}           
            <div class="row">
                <!-- <div class="col">[{{loop.index0 + 1}}]</div> -->
                <div class="col-4">
                  [{{loop.index0 + 1}}]   
                  {{image}}
                </div>
                
                {% if not "FACTURAS_CONCENTRADO" in image  %}

                    {% if ".xml" in image %}
                        <!-- <div class="col">[{{loop.index0 + 1}}]</div> -->
                        <!-- <a href="/download/{{image}}"> [ Descargar ]</a>
                        <a href="/eliminar/{{image}}"> [ Eliminar ]</a>
                        <a href="/convertirCSV/{{image}}"> [ convertir a CSV / Excel ]</a> -->
                        <div class="col">                            
                        <form action="/download2" method="post" class="">            
                            <input id="" name="sesion" type="hidden" value="{{sesion}}">
                            <input id="nombre1" name="nombre" type="hidden" value="{{image}}">
                            <input type="submit" value="Descargar" >
                        </form>                        
                        </div>
                        <div class="col">
                        <form action="/eliminar2" method="post" class="">            
                            <input id="" name="sesion" type="hidden" value="{{sesion}}">
                            <input id="" name="nombre" type="hidden" value="{{image}}">
                            <input type="submit" value="Eliminar" >
                        </form>
                        </div>
                        <div class="col">                    
                        <form action="/convertirCSV2" method="post" class="">            
                            <input id="" name="sesion" type="hidden" value="{{sesion}}">
                            <input id="" name="nombre" type="hidden" value="{{image}}">
                            <input type="submit" value="[ convertir a CSV / Excel ] " >
                        </form>
                        </div>
                        <div class="col">                    
                        <form action="/addDB" method="post" class="">            
                            <input id="" name="sesion" type="hidden" value="{{sesion}}">
                            <input id="" name="nombre" type="hidden" value="{{image}}">
                            <input type="submit" value="[ Agregar BD ] " >
                        </form>
                        </div>
                        <!-- <div class="col"> [ {{loop.index0 + 1}} ]</div> -->
                        <div class="col">[{{loop.index0 + 1}}]</div>
                    {% endif %}
                    <hr>
                    {% if ".csv" in image %}
                            <!-- <a href="/download/{{image}}"> [ Descargar ]</a>
                            <a href="/eliminar/{{image}}"> [ Eliminar ]</a>
                            <a href="/addTOall/{{image}}"> [ Agregar a concentrado ]</a> -->
                            <div class="col">                        
                            <form action="/download2" method="post" class="">            
                                <input id="" name="sesion" type="hidden" value="{{sesion}}">
                                <input id="nombre1" name="nombre" type="hidden" value="{{image}}">
                                <input type="submit" value="Descargar" >
                            </form>
                            </div>
                            <div class="col">
                            <form action="/eliminar2" method="post" class="">            
                                <input id="" name="sesion" type="hidden" value="{{sesion}}">
                                <input id="" name="nombre" type="hidden" value="{{image}}">
                                <input type="submit" value="Eliminar" >
                            </form>
                            </div>                            
                            <div class="col">
                            <form action="/addTOall2" method="post" class="">            
                                <input id="" name="sesion" type="hidden" value="{{sesion}}">
                                <input id="" name="nombre" type="hidden" value="{{image}}">
                                <input type="submit" value="[ Agregar a concentrado ]" >
                            </form>
                            </div>
                    {% endif %}
                
                {% else %}

                    {% if "FACTURAS_CONCENTRADO" in image %}
                            <!-- <a href="/download/{{image}}"> [ Descargar ]</a>
                            <a href="/eliminar/{{image}}"> [ Eliminar ]</a> -->
                            <div class="col">                        
                            <form action="/download2" method="post" class="">            
                                <input id="" name="sesion" type="hidden" value="{{sesion}}">
                                <input id="nombre1" name="nombre" type="hidden" value="{{image}}">
                                <input type="submit" value="Descargar" >
                            </form>
                            </div>
                            <div class="col">
                            <form action="/eliminar2" method="post" class="">            
                                <input id="" name="sesion" type="hidden" value="{{sesion}}">
                                <input id="" name="nombre" type="hidden" value="{{image}}">
                                <input type="submit" value="Eliminar" >
                            </form>
                            </div>

                            <div class="col">
                            <!-- <input type="submit" value="----------------------------" > -->
                                 <input type="submit" value="___________________________" >
                            </div>                          
                    {% endif %}
                               
                {% endif %}

            </div> <!--fin row-->
        {% endfor %}       
    </div> <!--fin container-->
    <!-- -------------------------- -->

    <script type="text/javascript">
    console.log("test text imp");
        function test_func(data) {

            data.replace('&#34;', '')
            console.log(data);
        }
        test_func('{{sesion}}');
    </script>

</body>
</html>